## Ignore everything
*

## But not these files...
!.gitignore
!mu-plugins/
!mu-plugins/*
!plugins/
!plugins/bookstore/
!plugins/bookstore/**
!plugins/copyright-date-block/
!plugins/copyright-date-block/** 
!plugins/example-plugin/
!plugins/example-plugin/** 
!plugins/index.php
!themes/
!themes/twentytwentyfour
!themes/twentytwentyfour/** 
!themes/internationalization/
!themes/internationalization/** 